// fonts
$component-title-font-size: 24px;

// buttons
$normal-button-size: 120px;

// colors
$high-priority-task-color: #de3566;
$medium-priority-task-color: #dea301;
$low-priority-task-color: #28c1b6;