/* Message Box */
.el-message-box__btns {
    display: flex;
    flex-direction: row-reverse;
    .el-button {
        width: 62px;
        &--primary {
            margin-right: 10px;
        }
    }
}

/* Table Expanded Cell */
.el-table__expanded-cell {
    padding: 10px !important;
}
